.container {
  background-color: #111;
  max-width: max-content;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigate {
  min-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;


  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #cecccc;
    border-radius: 50%;
    list-style: none;
    transition: padding ease-in-out .4s;


    .navTitle {
      font-size: 0;
      color: white;
    }

    &:hover {
      padding: 2rem;
      gap: 1rem;
      width: auto;
      border-radius: 3rem;
      background-color: #fbb400;
      transition: padding ease-in-out .4s;

      .navTitle {
        font-size: 1.8rem;
      }

    }

    .linkFlex {
      position: relative;


      .navIcon {
        width: 3rem;
        height: 3rem;
      }

    }
  }

  .active {
    background-color: #fbb400;
  }
}


@keyframes padding {
  0% {
    padding-right: 0;
  }

  100% {
    padding-right: 2rem;
  }
}