.header {
  min-height: 100vh;
  height: 1px;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.innerWrapper {
  min-width: 1140px;
  margin: 0 auto;
  border: 4px solid #5d5c5c;
  border-radius: 40px;
  overflow: hidden;
  background-color: #e5e3e5;
}

.nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  .items {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .item {
    list-style: none;
  }
  .link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
}

.imgContainer {
  align-self: flex-end;
  transform: translateY(4px);
}

.img {
  width: 400px;
  height: auto;
}

.titleWrapper {
  flex-grow: 2;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: normal;
  color: #fff;
  //font-size: 42px;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg,#fff070 0%,#fff070 35%,#00c9d3 66%,#00c9d3 100%);
  animation: glow 9s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}

.subtitle {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 20px;
}

.text {
  font-size: 22px;
  margin-bottom: 40px;
}

.text span {
  font-weight: bold;
}