.container {
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .figure {
    position: absolute;
    top: -2rem;
    left: -2rem;
    min-height: 100vh;
    width: 70rem;
    background: #fbb400;
    clip-path: polygon(0 0, 29% 0, 70% 100%, 0% 100%);

    z-index: -1;
  }

  }









